@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  /* This connects your custom colors to Tailwind v4 */
  --color-primary: #3E5C76;
  --color-secondary: #F0EFEB;
  --color-accent: #748E63;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply bg-secondary font-sans text-gray-800;
  }
}